body {
    margin: 50px;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px;
    border-color: black;
    width: 600px;
    height: 600px;
}

.section {
    display: flex;
    flex-grow: 1;
    background-color: pink;
    border-color: black;
}